<div id="<%= dom_id person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= person.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= person.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= person.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= person.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password digest:</strong>
    <%= person.password_digest %>
  </p>

</div>
